{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

<!--타이틀-->
{% block title %}Kimsouce universe{% endblock %}

<!--바디의 헤더 영역: 네비 바 포함-->
{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/flower.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi, I'm NEAL!</h1>
            <span class="subheading">welcome to so yeon's universe</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<!--바디의 콘텐트 영역: 본문-->
{% block content %}
    <h1>Please Login</h1>
    <p class="font-italic">Please enter your ID and Password</p>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token %}
        <div class="form-group row">
        {{ form.username|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
            {{ form.username|add_class:"form-control"|attr:"autofocus" }}
            </div>
        </div>
        <div class="form-group row">
             {{ form.password|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.password|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="Log in" class="btn btn-warning" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>

{% endblock %}

<!--바디의 풋터 영역-->
{%block footer%}

{% endblock %}

<!--추가 스크립트 지정 영역-->
{%block extra-script%} {% endblock %}